@model TaquillerasWeb.Controllers.Sales.TransactionTem
@using (Html.BeginForm("Operation", "Transaction", FormMethod.Post, Model))
{




    <div class="card border-info mb-3" style="max-width: 38rem;">
        <div class="card-header">Venta</div>
        <div class="card-body text-info">
           
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <span class="control-label">Fecha de Venta:</span>
                    </div>
                    <div class="col-sm-7 col-xs-6">
                        @Html.TextBoxFor(e => e.SalesDate, new { @class = "form-control", id = "datepicker" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <span class="control-label">Boletos recibidos:</span>
                    </div>
                    <div class="col-sm-7 col-xs-6">
                        @Html.TextBoxFor(e => e.ImportTicketRecived, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        Boletos dotación:
                    </div>
                    <div class="col-sm-7 col-xs-6">
                        @Html.TextBoxFor(e => e.ImportTicketDotation, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        Boletos venta:
                    </div>
                    <div class="col-sm-7 col-xs-6">
                        @Html.TextBoxFor(e => e.ImportTicketSale, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        Tarjetas recibidos:
                    </div>
                    <div class="col-sm-7 col-xs-6">
                        @Html.TextBoxFor(e => e.ImportCardRecived, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        Tarjetas dotación:
                    </div>
                    <div class="col-sm-7 col-xs-6">
                        @Html.TextBoxFor(e => e.ImportCardDotation, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        Tarjetas venta:
                    </div>
                    <div class="col-sm-7 col-xs-6">
                        @Html.TextBoxFor(e => e.ImportCardSale, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        Saldo venta:
                    </div>
                    <div class="col-sm-7 col-xs-6">
                        @Html.TextBoxFor(e => e.ImporRefillSale, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <input type="submit" name="name" value="Guardar" class="btn btn-primary" />
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    </div>


}
